.userCard_article {

    position: relative;
    width: 350px;
    height: 180px;
    /* height: 190px; */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15) ;
    transition: 0.5s;
    margin-bottom: 50px;
    padding-bottom: 50px;

}

.userCard-container1 {
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;

    align-content: center;
    padding-top: 4%;

}


.box_h2 {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translatex(-50%);
    width: 220px;
    height: 80px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0 , 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;

}

.userCard_article:hover .box_h2 {
    width: 250px;
    height:90px;
    transform: translateY(-45px);  
}



.userCard_h2 {
    color: black;
    text-align: center;
    margin-top: 1em;
    

}

.userCard_line {
    margin-bottom: 9px;
    height: 3px;
    background-color: #486966;
    margin-top: 2em;

}
.userCard_item {
    display: flex;
    padding-top: 20px;
    margin: auto;
}


/* .userCard-list {
    display: grid;
    gap: 0.8em;
} */

.userCard-list  {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;



}



.userCard_item {

    margin-left: 30px;
}



.userCard_label {

    color: #aaa;
    font-weight: 300;
    padding-right: 50px;

}




.userCard_footer {
    display: flex;
    justify-content:center;
    gap: 90px;
    height: 30px;

}





.userCard_btn {
    color: black;
    border-color: #486966;
    border-style: solid;
    height: 40px;
    width: 40px;

    border-radius: 5px;

}

.userCard_btn_delete {
    color: #fff;
    background-color: #BD2A2E;
    border-radius: 5px;
    height: 40px;
    width: 40px;

}